<div class="hline"></div>
<a href="#" class="btn backtotop jumper">
  <i class="fea-chevron-up" style="filter:invert(100%)"></i>
</a>
<footer class="main-footer container">
  <div class="main-footer__jumps">
    <a href="/">Home</a>
    <a class="jumper" href="/about">About</a>
    <a href="/article/">Blog</a>
    <a href="/community/">Community</a>
    <a href="{{ metadata.feed.path }}">RSS</a>
  </div>
  <div class="main-footer__copyright">
    <i>
      <b>&copy;</b>
      {% copyrightYear "2018" %}
      <a href="https://github.com/okitavera">Okitavera</a>
    </i><br>
    <i>Powered by</i>
    <u>
      <a href="https://11ty.io">Eleventy</a>
    </u>
        and
        <u>
      <a href="https://www.netlify.com">Netlify</a>
    </u><br>
        Source code is publicly available on
        <u>
      <a href="{{ metadata.repository }}">GitHub</a>
    </u>.
    </div>
  <div class="owo">(つ▀¯▀)つ</div>
</footer>
