<div class="hline"></div>
<a href="#" class="btn backtotop jumper">
  <i class="fea-chevron-up" style="filter:invert(100%)"></i>
</a>
<footer class="main-footer container padding--y-2">
  <div class="main-footer__jumps">
    <a href="/">Home</a>
    <a class="jumper" href="/about">About</a>
    <a href="/article/">Blog</a>
    <a href="/community/">Community</a>
    <a href="{{ metadata.feed.path }}">RSS</a>
  </div>
  <div class="main-footer__copyright">
    <b>&copy;</b>
    {% copyrightYear "2018" %}
    <a href="https://github.com/okitavera">Okitavera</a>
    <br>
    Powered by
    <a href="https://11ty.io">Eleventy</a>
    and
    <a href="https://www.netlify.com">Netlify</a>
    <br>
    Source code is publicly available on
    <a href="{{ metadata.repository }}">GitHub</a>
  </div>
  <button id="themeswitch" aria-label="theme switcher">
    <i class="fea-moon"></i>
    <i class="fea-sun"></i>
  </button>
</footer>
