<div class="hline--100"></div>
<footer class="main-footer container">
  <div class="row">
    <div class="main-footer__jumps col center">
      <div class="spacer--2"></div>
      <a href="/">Home</a>
      <a class="jumper" href="/about">About</a>
      <a href="/article/">Blog</a>
      <a href="/community/">Community</a>
      <a href="{{ metadata.feed.path }}">RSS</a>
    </div>
  </div>
  <div class="row">
    <div class="col center">
      <div class="spacer--2"></div>
      <i>
        <b>&copy;</b>
        {% copyrightYear "2018" %}
        <a href="https://github.com/okitavera">Okitavera</a>
      </i><br>
      <i>Powered by</i>
      <u>
        <a href="https://11ty.io">Eleventy</a>
      </u>
        and
        <u>
        <a href="https://www.netlify.com">Netlify</a>
      </u><br>
        Source code is publicly available on
        <u>
        <a href="{{ metadata.repository }}">GitHub</a>
      </u>.
        <div class="sp sp-xs"></div>
    </div>
  </div>
  <div class="owo">(つ▀¯▀)つ</div>
</footer>
