{% if permalink == "/" %}
  {% set title = metadata.title %}
{% else %}
  {% set title = renderData.title or title or metadata.title %}
{% endif %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="{{ title }}">
  <meta name="description" content="{{ description or metadata.description or (metadata.author.name + '\'s Website') }}">
  {% include 'metasocial.njk' %}
  <title>{{ title }}</title>
  <link rel="preload" href="/assets/fonts/Lato-400-CriticalSubset.woff2" as="font" type="font/woff2" crossorigin="crossorigin">
  <link rel="alternate" type="application/rss+xml" title="{{ metadata.feed.title }}" href="{{ metadata.feed.path | url }}">
  <link rel="manifest" href="/webmanifest.json">
  {% include 'favicon.njk' %}
  <style>
    {% include 'virtual/Illuminate.css' %}
    {% include 'virtual/IlluminateIcons.css' %}
  </style>
  <script>
    {% include "virtual/Critical.js" %}
  </script>
  <noscript>
    <link rel="stylesheet" type="text/css" href="/assets/css/IlluminateIcons.css">
  </noscript>
  <script type="module" src="/assets/js/Okitavera.mjs" async="async" defer="defer"></script>
  <script nomodule="nomodule" type="text/javascript" src="/assets/js/Okitavera.js" async="async" defer="defer"></script>
</head>
