{% if permalink == "/" %}
  {% set title = metadata.title %}
{% else %}
  {% set title = renderData.title or title or metadata.title %}
{% endif %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="{{ title }}">
  <meta name="description" content="{{ description or metadata.description or (metadata.author.name + '\'s website') }}">
  <link rel="prefetch" href="/assets/img/avatars/me.png" as="image" type="image/png" crossorigin="anonymous">
  <link rel="alternate" type="application/rss+xml" title="{{ metadata.feed.title }}" href="{{ metadata.feed.path | url }}">
  <link rel="manifest" href="/webmanifest.json">
  {% include 'metasocial.njk' %}
  <title>{{ title }}</title>
  {% include 'favicon.njk' %}
  <style>
    {% include 'virtual/Illuminate.css' %}
    {% include 'virtual/IlluminateIcons.css' %}
  </style>
  <script>

    {% include "virtual/Critical.js" %}
  </script>
  <noscript>
    <link rel="stylesheet" type="text/css" href="/assets/css/illuminateicons.css">
  </noscript>
  <script type="module" src="/assets/js/okitavera.mjs" async></script>
  <script nomodule type="text/javascript" src="/assets/js/okitavera.js" async defer></script>
</head>
