{% set metathumbs = metadata.url + (splash.url or '/assets/img/me.png')or metadata.author.photo %}
{% set metatitle = renderData.title or title or metadata.title %}
{% set metadesc = desc or metadata.description or (metadata.author.name + Website') %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ ('@' + metadata.author.twitter) or metadata.author.name }}">
<meta name="twitter:title" content="{{ metatitle }}">
<meta name="twitter:description" content="{{ metadesc }}">
<meta name="twitter:image" content="{{ metathumbs }}">
<meta property="og:url" content="{{ metadata.url + page.url }}">
<meta property="og:site_name" content="{{ metatitle }}">
<meta property="og:title" content="{{ metatitle }}">
<meta property="og:description" content="{{ metadesc }}">
<meta property="og:image" content="{{ metathumbs }}" >
<meta property="og:type" content="website">
