<!DOCTYPE html>
<html lang="en" class="no-js">
  {% set title = (renderData.title or title) + ' - ' + metadata.title %}
  {% include "head.njk" %}
  <body>
    {% include "sidebar.njk" %}
    <div class="content">
      <main class="content__wrapper">
        {{ content | safe }}
      </main>
      {% include "foot.njk" %}
    </div>
  </body>
</html>
