{% if not posts %}
  {% set posts = collections.posts %}
{% endif %}
{% for post in posts | reverse %}
  <div class="row row--immutable padding--y-1">
    <div class="col--fit">
      <div class="icon-post" style="background-color: {% generateColorFrom post.data.title %}">
        <img src="/assets/img/book.svg" alt="article icon" width="32" height="32">
      </div>
    </div>
    <div class="col">
      <a href="{{ post.url | url }}">
        <h2 class="margin--y-0">{{ post.data.title }}</h2>
        <div class="txt--dark2 txt--small">
          <time datetime="{{ date | htmlDateString }}">
            <i class="fea-calendar"></i>&nbsp;&nbsp;{{ post.date | readableDate }}
          </time>
        </div>
      </a>
    </div>
  </div>
{% endfor %}
