---
layout: plain.njk
---
<section class="container pad-y0 pad-x0">
  <header class="row paper paper-title">
    <div class="col">
      <h1>{{ title }}</h1>
      <time datetime="{{ date | htmlDateString }}">
        <i class="fea-calendar"></i>&nbsp;&nbsp;{{ date | readableDate }}</time>
      &nbsp;&nbsp;
      <span>
        <i class="fea-clock"></i>&nbsp;&nbsp;{{ content | getReadingTime("%M minutes to read") }}</span>
    </div>
  </header>
  <div class="row paper paper-art">
    <div class="col">
      {% if splash %}
        <figure class="splash" data-parallax="data-parallax" style="background-image:url({{ splash.url }})"></figure>
        {% if splash.credit %}
          <div class="splash-credit">{{ splash.credit | urlize | safe }}</div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</section>
<section class="container pad-y0 pad-x0">
  <article class="paper paper-article">
    {{ content | safe }}
    <br>
    <small>
      {% for tag in tags %}
        {%- if tag != "post" -%}
          <a href="/article/tags/{{ tag }}/" class="btn btn-sm txt-uppercase">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
    </small>
    <div class="sp"></div>
  </article>
  <div class="hl-100"></div>
  <article class="paper paper-article">
    <div class="sp"></div>
    <footer class="post-credit-wrapper pad-y0">
      <img class="circle" width="64" src="/assets/img/avatars/me.png"/>
      <div class="post-credit">
        <h6>written by</h6>
        <h3>{{ metadata.author.name }}</h3>
      </div>
    </footer>
    <div class="sp"></div>
    {% if metadata.disqus.username and metadata.disqus.enable == "true" %}

      <div id="disqus_thread" class="center">
        <button id="disqus_loader" class="btn bg-transparent txt-accent btn-outline">View Comments</button>
      </div>
    {% endif %}
    <div class="sp"></div>
  </article>
</section>
<div class="hl-50"></div>
<section class="recent-article" id="recentarticles">
  <div class="container pad-x2">
    <h1 class="left txt-300">Recent Article</h1>
    {% set articles = collections.posts | head(-3) %}
    {% for post in articles | reverse %}
      <a href="{{ post.url | url }}">
        <div class="row pad-y1">
          <div class="col">
            <h2 class="mgn-y0">{{ post.data.title }}</h2>
            <div class="txt-dark2 txt-sm">
              <time datetime="{{ date | htmlDateString }}">
                <i class="fea-calendar"></i>&nbsp;&nbsp;{{ post.date | readableDate }}</time>
            </div>
          </div>
        </a>
      {% endfor %}
      <div class="row center">
        <div class="col">
          <div class="sp"></div>
          <a href="/article/" class="btn bg-accent txt-light1">View More</a>
          <div class="sp"></div>
        </div>
      </div>
    </div>
  </section>
</div>
</section>
