<header class="sidebar">
  <div class="container">
    <div class="row">
      <div class="col pad-x1">
        <div class="me">
          <img height="180" width="180" alt="Prettiest human in the world" src="/assets/img/avatars/me.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col pad-x1">
        <h1 class="web-title">Nanda Okitavera</h1>
        <h3 class="web-desc">{{ metadata.description }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col menu pad-x1">
        <div>

          <a aria-label="home" href="/">
            <i class="fea-home-light"></i>Home</a>
        </div>
        <div>

          <a aria-label="article" href="/article/">
            <i class="fea-book-open-light"></i>Articles</a>
        </div>
        <div>

          <a aria-label="about-me" class="jumper" href="/about">
            <i class="fea-user-light"></i>About Me</a>
        </div>
      </div>
    </div>
  </div>
</header>
