<a href="#" class="backtotop">➜</a>
<div class="bg-dark-0 text-light-0 main-footer">
  <footer class="container copyright">
    <div class="row">
      <div class="jumps col center">
        <div class="sp"></div>
        <a href="/">Home</a>
        <a href="/#about">About</a>
        <a href="/article">Blog</a>
        <a href="/#sideprojects">Projects</a>
        <a href="/friends">Friends</a>
        <a href="{{ metadata.feed.path }}">RSS</a>
      </div>
    </div>
    <div class="row">
      <div class="col center text-smaller" style="color: #bbb">
        <div class="sp"></div>
        <i><b>&copy;</b> 2018 <a rel="noopener" class="text-light-2" target="_blank" href="https://github.com/okitavera">Okitavera</a></i><br>
        <i>Powered by</i>
        <u><a rel="noopener" class="text-light-0" target="_blank" href="https://11ty.io">Eleventy</a></u> and
        <u><a rel="noopener" class="text-light-0" target="_blank" href="https://www.netlify.com">Netlify</a></u><br>
        Source code is publicly available on <u><a rel="noopener" class="text-light-0" target="_blank" href="{{ metadata.repository }}">GitHub</a></u>.
        <div class="sp sp-xs"></div>
      </div>
    </div>
  </footer>
<div class="owo">(つ▀¯▀)つ</div>
</div>
</body>
</html>
