<a href="#" class="backtotop">➜</a>
<div class="bg-dark-0 text-light-0 main-footer">
  <footer class="container copyright">
    <div class="row">
      <div class="jumps col center">
        <img src="/assets/img/favicon/logo.svg" width="90px">
      </div>
    </div>
    <div class="row">
      <div class="jumps col center">
        <div class="sp"></div>
        <a href="/">Home</a>
        <a href="/#about">About</a>
        <a href="/article">Blog</a>
        <a href="/#sideprojects">Projects</a>
        <a href="/friends">Friends</a>
        <a href="{{ metadata.feed.path }}">RSS</a>
      </div>
    </div>
    <div class="row">
      <div class="col center text-smaller" style="color: #bbb">
        <div class="sp"></div>
        <i>Proudly powered by</i>
        <u><a rel="noopener" class="text-light-0" target="_blank" href="https://github.com/11ty/eleventy">Eleventy</a></u>,
        <u><a rel="noopener" class="text-light-0" target="_blank" href="https://travis-ci.com/okitavera/okitavera.github.io">Travis</a></u>, <i>and</i>
        <u><a rel="noopener" class="text-light-0" target="_blank" href="https://github.com/okitavera/okitavera.github.io/tree/eleventy">GitHub</a></u>.
        <div class="sp sp-xs"></div>
        <i><b>&copy;</b> 2018 Designed by </i>
        <i><a rel="noopener" class="text-light-2" target="_blank" href="https://github.com/okitavera">Okitavera</a></i>

      </div>
    </div>
  </footer>
<div class="owo">(つ▀¯▀)つ</div>
</div>
<script type="text/javascript" src="/assets/js/lazyload.min.js"></script>
<script type="text/javascript" src="/assets/js/smooth-scroll.polyfills.min.js"></script>
<script type="text/javascript" src="/assets/js/okitavera.js"></script>
<script>
(function () {
  new LazyLoad({
    elements_selector: ".---ll"
  });

  new SmoothScroll('a[href*="#"]', {
    topOnEmptyHash: true,
    easing: 'easeOutQuint',
    updateURL: true,
    popstate: true,
    emitEvents: true,
    speed: 500,
	  speedAsDuration: true
  });

{% if disqus and metadata.disqus.username and metadata.disqus.enable == "true" %}
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ metadata.disqus.username }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
{% endif %}

})();
</script>
</body>
</html>
