<a href="#" class="btn backtotop" data-is-nav><i class="fea-chevron-up" style="filter:invert(100%)"></i></a>
<div class="hl-100"></div>
<div class="main-footer">
  <footer class="container copyright">
    <div class="row">
      <div class="jumps col center">
        <div class="sp"></div>
        <a href="/">Home</a>
        <a href="/#about" {% if permalink != "/" %}data-is-nav{% endif %}>About</a>
        <a href="/article/">Blog</a>
        <a href="/#sideprojects"  {% if permalink != "/" %}data-is-nav{% endif %}>Projects</a>
        <a href="/community/">Community</a>
        <a href="{{ metadata.feed.path }}">RSS</a>
      </div>
    </div>
    <div class="row">
      <div class="col center">
        <div class="sp"></div>
        <i><b>&copy;</b> {% copyrightYear "2018" %} <a href="https://github.com/okitavera">Okitavera</a></i><br>
        <i>Powered by</i>
        <u><a href="https://11ty.io">Eleventy</a></u> and
        <u><a href="https://www.netlify.com">Netlify</a></u><br>
        Source code is publicly available on <u><a href="{{ metadata.repository }}">GitHub</a></u>.
        <div class="sp sp-xs"></div>
      </div>
    </div>
  </footer>
<div class="owo">(つ▀¯▀)つ</div>
</div>
