<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="{{ posttitle or renderData.title or title or metadata.title }}">
  <meta name="description" content="{{ description or metadata.description or (metadata.author.name + '\'s Website') }}" >
  {% include 'comps/metasocial.njk' %}
  <title>{{ posttitle or renderData.title or title or metadata.title }}</title>
	<link rel="preload" href="/assets/fonts/woff2/SourceSansPro-SubsetOptimized.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="alternate" type="application/rss+xml" title="{{ metadata.feed.title }}" href="{{ metadata.feed.path | url }}">
  {% include 'comps/favicon.njk' %}
  <script>
    {% include "comps/generated/thecompromise-fonts.js" %}
  </script>
  <style>
    {% include 'comps/generated/Illuminate.css' %}
  </style>
  <script type="text/javascript" src="/assets/js/lazyload.min.js"></script>
</head>
<body>
