<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="{{ posttitle or renderData.title or title or metadata.title }}">
  <meta name="description" content="{{ description or metadata.description or (metadata.author.name | lastWord + '\'s Github Pages') }}" >
  <meta name="theme-color" content="#f47"/>
  <meta content="{{ metadata.title }}" property="og:site_name">
  <meta content="{{ renderData.title or title or metadata.title }}" property="og:title">
  <meta content="{{ metadata.url | getHostnameFromUrl }}" property="og:url">
  <meta content="{{ description or metadata.description or (metadata.author.name | lastWord + '\'s Github Pages') }}" property="og:description">
  {% if date %}
    <meta content="{{ date }}" property="article:published_time">
    <meta content="{{ metadata.url }}" property="article:author">
  {% endif %}
  {% if tags %}
    {% for tag in tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
  {% endif %}
  <meta content="{{ splash.url or metadata.author.photo }}" property="og:image">
  <title>{{ posttitle or renderData.title or title or metadata.title }}</title>
	<link rel="preload" href="/assets/fonts/woff2/SourceSansPro-SubsetOptimized.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="alternate" type="application/rss+xml" title="{{ metadata.feed.title }}" href="{{ metadata.feed.path | url }}">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16.png">
  <style>
    {% include 'comps/Illuminate.css' %}
  </style>
  <script>
    {% include 'comps/thecompromise.js' %}
	</script>
</head>
<body>
