<!DOCTYPE html>
<html lang="en" class="no-js">
{% set posttitle = (renderData.title or title) + ' - ' + metadata.title %}
{% include "head.njk" %}
<body>
<div class="wrapper">
{% include "sidebar.njk" %}
<main class="main-content">
{{ content | safe }}
{% include "foot.njk" %}
</main>
</div>
</body>
</html>
