{% set posttitle = title + ' - ' + metadata.title %}
<!doctype html>
<html lang="en">
{% include "head.njk" %}
<body>
<div class="wrapper">
{% include "sidebar.njk" %}
<main class="main-content">
<section class="container pad-y0 pad-x0">
  <header class="row paper paper-title">
    <div class="col">
      <time class="hashed" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
      <h1>{{ title }}</h1>
      <span>~ {{ content | getReadingTime("%W words, %M minutes to read") }}</span>
    </div>
  </header>
  <div class="row paper paper-art">
    <div class="col">
      {% if splash %}
      <figure class="splash imlazy" data-parallax data-bg="url({{ splash.url }})">
      </figure>
      {% if splash.credit %}
      <div class="splash-credit">{{ splash.credit | urlize | safe }}</div>
      {% endif %}
      {% endif %}
    </div>
  </div>
</section>
<section class="container pad-y0 pad-x0">
  <article class="paper paper-article">
    {{ content | safe }}
    <br>
    <small>
    {% for tag in tags %}
      {%- if tag != "post" -%}
      <a href="/article/tags/{{ tag }}/" class="btn btn-sm txt-uppercase">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </small>
    <hr>
    <footer class="post-credit-wrapper pad-y0">
      <img class="circle" width="64" src="/assets/img/avatars/me.png"/>
      <div class="post-credit">
        <h6>written by</h6>
        <h3>{{ metadata.author.name }}</h3>
      </div>
    </footer>
    <div class="sp"></div>
    {% if metadata.disqus.username and metadata.disqus.enable == "true" %}
    <div id="disqus_thread"></div>
    {% endif %}
  <div class="sp"></div>
  </article>
</section>
{% include "recentarticle.njk" %}
{% include "foot.njk" %}
</main>
</div>
</body>
</html>
