<section class="recent-article" id="recentarticles">
  <div class="container center">
    <h1 class="left pad-x1 txt-300">RECENT ARTICLES</h1>
    <div class="row fx-content-mid">
      {% set articles = collections.posts | head(-3) %}
      {% for post in articles | reverse %}
      <div class="col-1of3">
        <div class="card-wrapper"><div class="card bg-light0">
          <a href="{{ post.url | url }}">
            <figure class="card-thumbnail bg-dark0">
            {% if post.data.splash.url %}
              <img class="imlazy" data-src="{{ post.data.splash.url | thumbnailURL }}">
            {% endif %}
            </figure>
            <div class="card-context">
              <time class="txt-sm" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
              <div class="txt-dark2">{{ post.data.title }}</div>
            </div>
          </a>
        </div></div>
      </div>
      {% endfor %}
    </div>
    <div class="row center">
      <div class="col">
        <div class="sp"></div>
        <a href="/article/" class="btn bg-accent txt-light1">View More</a>
        <div class="sp"></div>
      </div>
    </div>
  </div>
</section>
