<header class="sidebar">
	<div class="container pad-y2">
		<div class="row">
			<div class="col pad-x1">
        <div class="me">
          <img
            height="180"
            width="180"
            alt="Prettiest human in the world"
            src="/assets/img/avatars/me.png"
          >
        </div>
			</div>
		</div>
		<div class="row">
			<div class="col pad-x1">
        <h1 class="web-title">Hi! I am Nanda <span class="bg-accentlight-half">Okitavera</span></h1>
        <h3 class="">UX Designer and Kotlin-Android Developer</h3>
      </div>
    </div>
		<div class="row">
			<div class="col pad-x1 txt-bigger">
				<a href="{{ '/' | url }}"><i class="fea-home"></i></a>
				<a href="{{ '/article/' | url }}"><i class="fea-book-open"></i></a>
				<a href="{{ '/#sideprojects' | url }}"><i class="fea-star"></i></a>
				<a href="{{ '/#about' | url }}"><i class="fea-user"></i></a>
				<a href="{{ 'https://twitter.com/' + metadata.author.twitter }}" rel="noopener" target="_blank"><i class="fea-twitter"></i></a>
			</div>
		</div>
	</div>
</header>
