{
  "env": {
    "legacy": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "entry",
            "targets": {
              "esmodules": false
            }
          }
        ]
      ]
    },
    "modern": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "entry",
            "targets": {
              "esmodules": true
            }
          }
        ]
      ]
    }
  }
}
