.content
  position relative
  display flex
  flex-direction column
  overflow-x hidden
  min-height 100vh
  width 75%
  background var(--color-light)
  &__wrapper
    flex 1
  .post__icon
    margin-right 1rem
    padding 1rem
    background var(--color-dark)
    line-height 1
    clip-path polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%)
  .post__title
    font-size 1.3rem

@supports not (clip-path: circle(1px at 1px 1px))
  .post__icon
    border-radius 50%

@media screen and (max-width: --flexbox-breakpoint)
  .content
    width 100%
    .post__icon
      margin-right 5px
      margin-left -.5rem
      transform scale(.8)
    .post__title
      font-size 1.2rem
