
.main-footer
  padding-top 1rem
  text-align center
  text-transform uppercase
  letter-spacing 2px
  font-size .7rem
  &__jumps a
    padding 2px .6rem
  &__copyright
    padding-top 1rem

.owo
  text-align center
  opacity 0
  cursor text
  user-select none
  &:hover
    opacity 1
