
.main-footer
  padding-top 1rem
  text-align center
  text-transform uppercase
  letter-spacing 1px
  font-size .8rem
  &__jumps a
    padding 2px .6rem
  &__copyright
    padding-top 1rem
    line-height 1.8

.owo
  padding 10px
  text-align center
  opacity 0
  cursor text
  user-select none
  &:hover
    opacity 1
