---
layout: plain.njk
permalink: /
---
<section class="container padding--x-2 padding--y-0">
  <h1 class="txt--300">Latest Content</h1>
  {% set posts = collections.posts | head(-5) %}
  {% include "postlist.njk" %}
  <div class="center padding--y-2">
    <a href="/article/" class="btn bg--accent">View More</a>
  </div>
  <h1 class="txt--300">Recent Tweets</h1>
  {% include "twitter.njk" %}
  <div class="center padding--y-2">
    <a href="https://twitter.com/{{ metadata.author.twitter }}" class="btn" style="background-color: #38A1F3">View More</a>
  </div>
</section>
