---
layout: plain.njk
permalink: /
---
<section class="about bg-light0" id="about">
  <div class="container pad-x2 pad-y0" style="max-width:58rem">
    <div class="row fx-nowrap items-mid">
      <div class="col">
        <h1 class="txt-300">Hi!</h1>
        <p class="txt-big">
          I am UX Designer and Kotlin-Android Developer from an exotic country called Indonesia.<br>
          I do code, but as another hobbies afterworks besides watching videos or plays some melodic decadence metal music.<br>
          Primarily use Kotlin for Android development, but also do a bash and python for scripting.<br>
          I also mastering of mixing chocolate and coffee.
        </p>
      </div>
    </div>
  </div>
  <div class="sp"></div>
</section>
<div class="hl-100"></div>
<div class="bg-light0">
  {% include "recentarticle.njk" %}
</div>
<div class="hl-80"></div>
