---
layout: plain.njk
permalink: /article/
title: Article Index
---
<section class="container content__shrink">
  <h1 class="txt--300">All Article</h1>
  {% set posts = collections.posts %}
  {% include "postlist.njk" %}
</section>
