---
permalink: /article/tags/{{ tag }}/
pagination:
  data: collections
  size: 1
  alias: tag
layout: plain.njk
renderData:
  title: Tagged “{{ tag }}”
---
{% set articles = collections[tag] %}
<section class="container content__shrink">
  <h1 class="txt--300">Tagged Article</h1>
  {% for _tag in collections.tags %}
    <a href="/article/tags/{{ _tag }}/" class="btn {% if tag == _tag %}bg--accent{% endif %} btn--sm txt--upper">{{ _tag }}</a>
  {% endfor %}
  <div class="spacer--2"></div>
  {% set posts = collections[tag] %}
  {% include "postlist.njk" %}
  <div class="spacer--3"></div>
</section>
