$colorNavy = #001f3f
$colorBlue = #0074d9
$colorTeal = #39cccc
$colorOlive = #3d9970
$colorGreen = #2ecc40
$colorYellow = #ffdc00
$colorOrange = #ff851b
$colorRed = #ff4136
$colorPink = #ec407a
$colorMaroon = #85144b
$colorPurple = #b10dc9
$colorAccent = $colorPink
$colorLight = #fafafa, #f5f5f5, #eeeeee, #e0e0e0, #bdbdbd
$colorDark = #1f1f21, #404042, #5d5d5f, #727274, #9a9a9c

halfground(c)
  t = transparent
  background linear-gradient(to top, c 15%, c 40%, t 40.1%, t 100%)
