// --layout-features-='liga' and --no-hinting optimization
@font-face
  font-weight 400
  font-family SourceSansProSubset
  src url('/assets/fonts/woff2/SourceSansPro-SubsetOptimized.woff2') format('woff2'), url('/assets/fonts/woff/SourceSansPro-SubsetOptimized.woff') format('woff')
  unicode-range U+A, U+20-5A, U+5E, U+5F, U+61-7A, U+7E

@font-face
  font-family SourceSansPro
  src url('/assets/fonts/woff2/SourceSansPro.woff2') format('woff2'), url('/assets/fonts/woff/SourceSansPro.woff') format('woff')
  font-display swap

@font-face
  font-weight 700
  font-family SourceSansPro
  src url('/assets/fonts/woff2/SourceSansPro-Bold.woff2') format('woff2'), url('/assets/fonts/woff/SourceSansPro-Bold.woff') format('woff')
  font-display swap

@font-face
  font-style italic
  font-family SourceSansPro
  src url('/assets/fonts/woff2/SourceSansPro-Italic.woff2') format('woff2'), url('/assets/fonts/woff/SourceSansPro-Italic.woff') format('woff')
  font-display swap

@font-face
  font-weight 700
  font-style italic
  font-family SourceSansPro
  src url('/assets/fonts/woff2/SourceSansPro-BoldItalic.woff2') format('woff2'), url('/assets/fonts/woff/SourceSansPro-BoldItalic.woff') format('woff')
  font-display swap

@font-face
  font-weight 300
  font-family SourceSansPro
  src url('/assets/fonts/woff2/SourceSansPro-Light.woff2') format('woff2'), url('/assets/fonts/woff/SourceSansPro-Light.woff') format('woff')
  font-display swap

@font-face
  font-weight 300
  font-style italic
  font-family SourceSansPro
  src url('/assets/fonts/woff2/SourceSansPro-LightItalic.woff2') format('woff2'), url('/assets/fonts/woff/SourceSansPro-LightItalic.woff') format('woff')
  font-display swap

// Inconsolata for Code stuff
@font-face
  font-weight 400
  font-family Inconsolata
  src url('/assets/fonts/woff2/Inconsolata.woff2') format('woff2'), url('/assets/fonts/woff/Inconsolata.woff') format('woff')
  text-rendering optimizeLegibility
  font-display swap

@font-face
  font-weight 700
  font-family Inconsolata
  src url('/assets/fonts/woff2/Inconsolata-Bold.woff2') format('woff2'), url('/assets/fonts/woff/Inconsolata-Bold.woff') format('woff')
  text-rendering optimizeLegibility
  font-display swap

// for later usage (custom-classes and prism)
$font_mono = Inconsolata, Menlo, monospace

/* The Compromise
 * Critical FOFT with preload, with a polyfill fallback emulating font-display: optional
 * https://github.com/zachleat/web-font-loading-recipes
 */
.fnV1 body
  font-family SourceSansProSubset

.fnV2 body
  font-family SourceSansPro

.body
  font-family Ubuntu, Cantarell, Roboto, Oxygen-Sans, 'Segoe UI', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, sans-serif
