/*
 * okitavera.me
 * Copyright 2018 Nanda Okitavera
 * License under MIT
 * Source available at: https://github.com/okitavera/okitavera.me.git
 */
$flexTreshold = 775px
$paperMaxWidth = 950px
$containerMaxWidth = 1100px

@import 'parts/functions'
@import 'parts/fonts'
@import 'parts/colors'
@import 'parts/base'
@import 'parts/button'
@import 'parts/typography'
@import 'parts/flex'
@import 'parts/layout'
@import 'parts/background'
@import 'parts/helper'
@import 'parts/me'
@import 'parts/prism'
@import 'parts/fallback'
