fea(name)
  .fea-{name}
    display inline-block
    width 1em
    height 1em
    background-image svg-load(name + '.svg')
    background-position center
    background-size 1em
    background-repeat no-repeat
    opacity .7

fea('twitter')
fea('home')
fea('book-open')
fea('star')
fea('user')
fea('github')
fea('clock')
fea('calendar')
fea('chevron-up')
