/*
 * okitavera.me
 * Copyright 2018 Nanda Okitavera
 * License under MIT
 * Source available at: https://github.com/okitavera/okitavera.me.git
 */
--flexbox-breakpoint = 775px
--container-maxwidth = 1100px
--sidebar-maxwidth = 370px

@import 'parts/functions'
@import 'parts/fonts'
@import 'parts/colors'
@import 'parts/base'
@import 'parts/utils/*'
@import 'parts/layout/*'
@import 'parts/modifiers'
@import 'parts/fallback'
@import 'parts/prism'
