/*
 * okitavera.me
 * Copyright 2018 Nanda Okitavera
 * License under MIT
 * Source available at: https://github.com/okitavera/okitavera.me.git
 */
$flexTreshold = 650px
$paperMaxWidth = 950px
$containerMaxWidth = 1100px

@import 'fonts'
@import 'colors'
@import 'parts/*'
@import 'animate'
