button,
input[type="button"],
input[type="submit"],
.btn {
  display: inline-block;
  margin: 4px 2px;
  padding: 0.35em 0.75em;
  border: none;
  border-radius: 0;
  background-color: var(--color-dark);
  color: var(--color-light);
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 600;
  font-size: 1rem;
  line-height: inherit;
  cursor: pointer;
  transition: box-shadow 0.5s ease;
  user-select: none;
  &:hover {
    outline: none;
    box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.56);
    color: var(--color-light);
  }
  &:focus {
    color: var(--color-light);
  }
  &:active {
    box-shadow: inset 0px -200px 0px 0px rgba(0, 0, 0, 0.2);
    color: var(--color-light);
  }
  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }
}

.btn {
  &--outline {
    border: 1px solid var(--color-accent);
    color: var(--color-accent);
    background: transparent;
    transition: box-shadow 0.5s ease, color 0.5s ease;
    &:hover {
      color: var(--color-light);
      box-shadow: inset 0px -3em 0px 0px var(--color-accent);
    }
  }
  &--lg {
    padding: 0.35rem 1.2rem;
    font-size: 1.2rem;
  }
  &--sm {
    padding: 0.15rem 0.8rem;
    font-size: 0.8rem;
  }
}

.backtotop {
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--color-accent);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.11);
  transition: 0.25s ease-out all;
  transform: scale(0);
  i {
    font-size: 2rem;
  }
  &:hover {
    outline: none;
    background-color: var(--color-dark);
  }
  &:active,
  &:visited,
  &:focus {
    background-color: var(--color-accent);
  }
  &.show {
    visibility: visible;
    transform: scale(1);
  }
}

@media screen and (max-width: $flexbox-breakpoint) {
  .backtotop {
    right: 2rem;
    bottom: 2rem;
  }
}
