@keyframes progressLoad {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.progress {
  position: relative;
  margin-bottom: 1rem;
  font-weight: 700;
  user-select: none;
  &__name {
    display: inline-block;
    width: 100%;
  }
  &__percent {
    position: absolute;
    top: .2em;
    left: 0;
    display: inline-block;
    min-width: 10rem;
    width: 100%;
    text-align: right;
    font-size: .8em;
    transform-origin: left;
    animation: progressLoad 1s ease;
  }
  &__bar {
    height: 1rem;
    border-radius: 1rem;
    background: var(--color-light-fade);
    transform-origin: left;
    animation: progressLoad .5s ease;
    &__loaded {
      height: 1rem;
      border-radius: 1rem;
      background: linear-gradient(to right, var(--color-dark-fade), var(--color-accent));
      transform-origin: left;
      animation: progressLoad 1s ease;
    }
  }
}
