/*
 * okitavera.me
 * Copyright 2018 Nanda Oktavera
 * License under MIT
 * Source available at: https://github.com/okitavera/okitavera.me.git
 */
$flexbox-breakpoint: 775px;
$container-width: 1100px;
$sidebar-width: 400px;

@import "parts/fonts";
@import "parts/colors";
@import "parts/base";
@import "parts/utils/*";
@import "parts/layout/*";
@import "parts/modifiers";
@import "parts/safe";
@import "parts/prism";
