*,
*:after,
*:before {
  box-sizing: inherit;
  font-family: inherit;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: white;
  color: var(--color-dark);
}

@media screen and (max-width: $flexbox-breakpoint) {
  body {
    flex-direction: column;
  }
}

blockquote {
  margin: 0.5rem 0;
  padding: 0 1em;
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}

hr {
  margin: 1rem 0;
  border: none;
  border-top: 1px solid var(--color-light-fade);
}

dl,
ol,
ul {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
  dl,
  ol,
  ul {
    margin: 1rem 0 1rem 2rem;
    font-size: 90%;
  }
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: circle inside;
}

fieldset,
input,
select,
textarea {
  margin-bottom: 1.5rem;
}

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 1rem;
}

p {
  max-width: 100%;
  word-wrap: break-word;
  img {
    max-width: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  vertical-align: middle;
  font-weight: normal;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

h2 {
  margin: 0.83em 0;
  font-size: 1.5em;
}

h3 {
  margin: 1em 0;
  font-size: 1.17em;
}

h4 {
  margin: 1.33em 0;
  font-size: 1em;
}

h5 {
  margin: 1.67em 0;
  font-size: 0.83em;
}

h6 {
  margin: 2.33em 0;
  font-size: 0.7em;
}

small {
  font-size: 0.8em;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  &:focus,
  &:hover {
    color: var(--color-dark);
  }
}
