:root {
  --color-accent: #e73c4e;
  --color-light: #fafafa;
  --color-light-fade: #eeeeee;
  --color-gray: #bdbdbd;
  --color-dark: #2e3240;
  --color-dark-fade: #474b5a;
  --sidebar-bg: #fafafa;
  --sidebar-text-secondary: #6e6e6e;
}

html.night {
  --color-accent: #ff79a6;
  --color-dark: #fafafa;
  --color-dark-fade: #eeeeee;
  --color-gray: #bdbdbd;
  --color-light: #202127;
  --color-light-fade: #282932;
  --sidebar-bg: #1a1b20;
  --sidebar-text-secondary: #efefef;
  [class^="fea-"] {
    filter: invert(1);
  }
}
