@font-face {
  font-weight: 400;
  font-family: FiraCode;
  src: url("/assets/fonts/FiraCode-Medium.woff2") format("woff2"),
    url("/assets/fonts/FiraCode-Medium.woff") format("woff");
  font-display: swap;
  font-feature-settings: "calt" 1; /* the cool-stuff from FiraCode */
}

body {
  font-family: Ubuntu, "Noto Sans", -apple-system, BlinkMacSystemFont, Cantarell,
    "Segoe UI", Oxygen-Sans, Roboto, "Helvetica Neue", sans-serif,
    "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
