.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.txt {
  &--upper {
    text-transform: uppercase;
  }
  &--xsmall {
    font-size: 60%;
  }
  &--small {
    font-size: 90%;
  }
  &--big {
    font-size: 120%;
  }
  @each $num in 300, 400, 700, 900 {
    &--#{$num} {
      font-weight: $num;
    }
  }
}

.circle {
  border-radius: 50%;
}

@each $num in 0, 1, 2 {
  .padding {
    &--y-#{$num} {
      padding-top: #{$num}rem;
      padding-bottom: #{$num}rem;
    }
    &--x-#{$num} {
      padding-right: #{$num}rem;
      padding-left: #{$num}rem;
    }
  }
  .margin {
    &--y-#{$num} {
      margin-top: #{$num}rem;
      margin-bottom: #{$num}rem;
    }
    &--x-#{$num} {
      margin-right: #{$num}rem;
      margin-left: #{$num}rem;
    }
  }
}

[class^="spacer--"] {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

@each $num in 1, 2, 3 {
  .spacer--#{$num} {
    height: #{$num}rem;
  }
}

.hline {
  left: 0;
  margin: -1px auto 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-light-fade);
}

.bg--transparent {
  background-color: transparent;
}

$colorVariants: "light", "dark", "accent", "light-fade", "dark-fade";

@each $c in $colorVariants {
  .txt--#{$c} {
    color: var(--color-#{$c});
  }
  .bg--#{$c} {
    background-color: var(--color-#{$c});
  }
  .bg-half--#{$c} {
    background: linear-gradient(
      to top,
      var(--color-#{$c}) 15%,
      var(--color-#{$c}) 40%,
      transparent 40.1%,
      transparent 100%
    );
  }
}
