---
name: "Clearine"
desc: "Minimalist and configurable GTK Session/Logout manager for X11 Desktop"
img: "/assets/img/banners/clearine.jpg"
---
<a class="btn btn-sm" href="https://github.com/okitavera/clearine">GitHub</a>
<a class="btn btn-sm" href="https://aur.archlinux.org/packages/clearine-git/">AUR</a>
