---
name: "Cornora"
desc: "Simple Hot Corner Launcher for any X11 Desktop."
img: "/assets/img/sideprojects/cornora.jpg"
---
<a class="button button-small" href="https://github.com/okitavera/cornora">GitHub</a>
<a class="button button-small" href="https://aur.archlinux.org/packages/cornora-git/">AUR</a>
