---
name: "Crosshair Hero"
desc: "Simple and Customizable Crosshair Overlay for Android FPS Games"
img: "/assets/img/sideprojects/crosshairhero.jpg"
---
<a class="button button-small" href="https://play.google.com/store/apps/details?id=me.okitastudio.crosshairherofps">Play Store</a>
<a class="button button-small" href="https://apkpure.com/crosshair-hero-overlay-crosshair/me.okitastudio.crosshairherofps">APKPure</a>
