---
name: "Cornora"
desc: "Simple Hot Corner Launcher for any X11 Desktop."
img: "/assets/img/banners/cornora.jpg"
---
<a class="btn btn-sm" href="https://github.com/okitavera/cornora">GitHub</a>
<a class="btn btn-sm" href="https://aur.archlinux.org/packages/cornora-git/">AUR</a>
