/*
 * animate.css -https://daneden.github.io/animate.css/
 * Version - 3.7.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */
@keyframes fadeInUp
  from
    opacity 0
    transform translate3d(0, 100%, 0)
  to
    opacity 1
    transform translate3d(0, 0, 0)

.fadeInUp
  animation-name fadeInUp

.animated
  animation-duration 1s
  animation-fill-mode both

@media (prefers-reduced-motion: )
  .animated
    transition none
    animation unset
