.bg
  &--accent
    background-color $colorAccent
  &--transparent
    background-color transparent

.bg-half
  &--accent
    halfground $colorAccent
  &--accentlight
    halfground lighten($colorAccent, 50%)

for i in (0 .. 4)
  .bg
    &--light-{i}
      background-color $colorLight[i]
    &--dark-{i}
      background-color $colorDark[i]
  .bg-half
    &--light-{i}
      halfground $colorLight[i]
    &--dark-{i}
      halfground $colorDark[i]
