button,
input[type='button'],
input[type='submit'],
.btn
  display inline-block
  margin 4px 2px
  padding .25rem 1rem
  border 1px solid transparent
  border-radius 3px
  background-color $altDark[1]
  color $colorLight[1]
  vertical-align middle
  vertical-align middle
  text-align center
  text-decoration none
  white-space nowrap
  font-weight 400
  font-size 1rem
  line-height 1.5
  line-height inherit
  cursor pointer
  user-select none
  &:focus,
  &:hover
    outline none
    filter brightness(125%)
    color currentColor
  &.btn-outline
    border-color $altDark[1]
  &.btn-outline-light
    border-color $colorLight[1]
  &.btn-lg
    padding .35rem 1.2rem
    font-size 1.2rem
  &.btn-sm
    padding .15rem .8rem
    font-size .8rem
  &[disabled]
    opacity .5
    cursor default
