.btn,
button,
input[type='button'],
input[type='submit']
  display inline-block
  margin 4px 2px
  padding .6rem .9rem
  border 1px solid transparent
  background $colorDark[2]
  color $colorLight[1]
  text-align center
  vertical-align middle
  text-decoration none
  line-height inherit
  white-space nowrap
  font-size .9rem
  font-weight 400
  cursor pointer
  &[disabled]
    opacity .5
    cursor default
  &.btn-rad
    border-radius 6px
  &.btn-outline
    background-color transparent
    color $colorDark[2]
    border-radius 0
    border 1px solid $colorDark[2]
  &.btn-clear
    border-color transparent
    background-color transparent
    color $colorDark[2]
  &.btn-small
    font-size .7rem
    padding .3rem .6rem
  &:focus,
  &:hover
    outline none
    color $colorLight[1]
    opacity .75
