.button,
button,
input[type='button'],
input[type='submit']
  display inline-block
  margin 2px
  padding 0.1em 0.8em
  border 1px solid $colorAccent
  background $colorAccent
  box-shadow 0 2px 1px rgba(0, 0, 0, 0.125)
  color $colorLight[1]
  text-align center
  text-decoration none
  text-transform uppercase
  white-space nowrap
  font-weight 400
  cursor pointer
  &[disabled]
    opacity 0.5
    cursor default
  &.button-outline
    background-color transparent
    box-shadow none
    color $colorAccent
  &.button-ulined
    margin 0.1em 0.8em
    padding 0
    border none
    border-bottom 0.2em solid $colorLight[1]
    background-color transparent
    box-shadow none
  &.button-clear
    border-color transparent
    background-color transparent
    box-shadow none
    color $colorAccent
  &.button-small
    font-size 0.8rem
  &:focus,
  &:hover
    outline 0
    color $colorLight[1]
    opacity 0.75
