.card-wrapper
  display flex
  flex-direction column
  margin 0
  padding .5rem
  height 100%
  .card
    display flex
    flex-direction column
    height 100%
    box-shadow 0 2px 1px 0 $colorLight[3]
    &:hover .card-thumbnail img
      filter brightness(125%)
      transform scale(1.1)
  .card-thumbnail
    clear-gaps()
    position relative
    overflow hidden
    padding-top (9 / 16) * 100% // maintaining aspect-ratio 16:9
    img
      position absolute
      bottom 0
      left 0
      display block
      width 101%
      &[src$=svg]
        padding 15%
        height 100%
  .card-context
    padding 1rem
  .card-footer
    margin-top auto // push to the bottom of parent
    padding 1rem
    padding-top 0

@media screen and (max-width: $flexTreshold)
  .card
    margin 0 0 1rem // transform card padding from right to the bottom
