.card
  display flex !important
  flex-direction column
  margin 0 1rem 0 0
  padding 0
  box-shadow 0 1px 5px $colorLight[3]
  &:hover
    .card-thumbnail img
      filter brightness(125%)
      transform scale(1.1)
  &:last-child
    margin 0
  .card-thumbnail
    position relative
    overflow hidden
    margin 0
    padding 0
    padding-top (9 / 16) * 100% // maintaining aspect-ratio 16:9
    transition 0.18s ease-out
    img
      position absolute
      bottom 0
      left 0
      display block
      width 101%
      transition 0.18s ease-out
      &[src$=svg]
        padding 15%
        height 100%
  .card-context
    padding 1rem
  .card-footer
    margin-top auto // push to the bottom of parent
    padding 1rem
    padding-top 0

@media screen and (max-width: $flexTreshold)
  .card
    margin 0 0 1rem // transform card padding from right to the bottom
