.container
  display block
  margin 0 auto
  padding 1rem
  max-width $containerMaxWidth
  width 100%

.row
  clear-gaps()
  display flex
  width 100%
  .col
    display block
    flex-grow 1
    flex-shrink 1
    flex-basis 0
  .col-fit
    flex none

@media screen and (max-width: $flexTreshold)
  .row:not(.keep)
    flex-flow column

.self-mid
  align-self center

.items-mid
  justify-content center
  align-items center

.fx-content-mid
  justify-content center

.items-stretch
  align-items stretch
