.container
  margin 0 auto 0 0
  padding 1rem
  max-width $containerMaxWidth
  width 100%

.row
  clear-gaps()
  display flex
  width 100%

.col
  display block
  flex-grow 1
  flex-shrink 1
  flex-basis 0
  &--fit
    flex none
  &--self-mid
    align-self center

@media screen and (max-width: $flexTreshold)
  .row:not(.row--immutable)
    flex-flow column
