// --layout-features-='liga' and --no-hinting optimization
@font-face
  font-assets('LatoCriticalSubset', 'Lato-400-CriticalSubset', '400')
  unicode-range U+21-23, U+25-29, U+2B-3A, U+3D, U+3F, U+41-5A, U+5F, U+61-7A

for variant in '300' '400' '700' '900' '300i' '400i' '700i' '900i'
  @font-face
    font-assets('LatoLatinSubset', 'Lato-' + variant + '-LatinSubset', variant)
    unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

// FiraCode for Code stuff
@font-face
  font-assets('FiraCode', 'FiraCode-Medium', '400')
  font-display swap
  font-feature-settings 'calt' 1 // the cool-stuff from FiraCode

// for later usage (custom-classes and prism)
$font_mono = FiraCode, Menlo, monospace

.webfont-stage-1 body
  font-family LatoCriticalSubset, sans-serif

.webfont-stage-2 body
  font-family LatoLatinSubset, sans-serif

body
  font-family sans-serif
