// FiraCode for Code stuff
@font-face
  font-assets('FiraCode', 'FiraCode-Medium', '400')
  font-display swap
  font-feature-settings 'calt' 1 // the cool-stuff from FiraCode

// for later usage (custom-classes and prism)
$font_mono = FiraCode, Menlo, monospace
$font_emoji = 'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
$font_system = Ubuntu, 'Noto Sans', -apple-system, BlinkMacSystemFont, Cantarell, 'Segoe UI', Oxygen-Sans, Roboto, 'Helvetica Neue'

body
  font-family $font_system, sans-serif, $font_emoji
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
