.circle
  border-radius 50%

.height-stretch
  min-height 100vh

for i in (0 .. 4)
  .pad-y{i}
    padding-top i rem
    padding-bottom i rem
  .pad-x{i}
    padding-right i rem
    padding-left i rem
  .mgn-y{i}
    margin-top i rem
    margin-bottom i rem
  .mgn-x{i}
    margin-right i rem
    margin-left i rem

hr,
div
  &.sp
    display block
    margin 0
    padding 0
    height 2rem
    border none
    &.sp-xl
      height 4rem
    &.sp-l
      height 3rem
    &.sp-m
      height 2rem
    &.sp-s
      height 1rem
    &.sp-xs
      height .5rem
    &.sp-xxs
      height .25rem
