.wrapper
  display flex
  flex 1

@keyframes growX
  from
    transform scaleX(1)
  to
    transform scaleX(0)

@keyframes mainSlide
  from
    filter opacity(0)
    transform translateY(-64px)
  to
    filter opacity(1)
    transform translateY(0)

.main-content
  position relative
  overflow-x hidden
  width 75%

.main-content > *
  filter opacity(0)
  transform translateY(-64px)
  animation mainSlide cubic-bezier(.7, 0, .2, .7) .5s forwards
  animation-delay .15s
  will-change transform, opacity

.sidebar
  z-index 10
  min-width 350px
  width 35%
  border-right 1px solid lighten($colorLight[4], 50%)
  background-color white
  .menu
    font-size 1.8rem
  .container
    position sticky
    top 0
    display flex
    flex-direction column
    justify-content center
    min-height 100vh
    .row
      flex-basis 100%
      width 100%
      a
        margin-right 1rem

.web-title
  text-transform uppercase
  font-weight 900
  font-size 2.4rem
  line-height 1.2

.main-footer
  margin-top auto // push the main footer to the bottom
  *
    font-size .7rem

@media screen and (max-width: $flexTreshold)
  .sidebar
    border-right 0
    border-bottom 1px solid lighten($colorLight[4], 50%)
  .sidebar,
  .main-content
    width 100%
  .wrapper
    flex-direction column
  .sidebar .container
    min-height unset
  .main-content
    .main-cover
      width 100%
