.me
  position relative
  display inline-block
  border-radius 50%
  line-height 1
  img
    display inline
    border-radius 50%
    line-height 1

@media screen and (max-width: $flexTreshold)
  .me
    img
      width 90px
      height 90px

.owo
  padding 1rem
  text-align center
  opacity 0
  &:hover
    opacity 1

.paper
  margin 0
  padding 4rem
  &__art
    overflow hidden
    padding 0
    &__credit
      display block
      overflow hidden
      padding 1rem
      text-align right
      text-overflow ellipsis
      white-space pre
      letter-spacing 1px
      font-size 60%
      a
        color $colorDark[1]
  &__title
    h1,
    time
      text-transform uppercase
      font-weight 700
    h1
      max-width 90%
      font-weight 900
      font-size 3rem
      line-height 1.2
    time
      padding-left .1em
  &__article
    overflow-x hidden
    padding-top 0
    padding-bottom 0
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      font-weight 700
      .direct-link
        position relative
        top -.2em
        visibility hidden
        color lighten($colorAccent, 30%)
        font-size .8em
      &:hover > .direct-link
        visibility visible

@media screen and (max-width: $flexTreshold)
  .paper
    padding 1.4rem
    &__title h1
      font-size 2rem

.friends
  .col
    text-align center
    a
      position relative
      display inline-block
      margin 1rem
      img
        display inline-block
        width 100px
        height 100px
        border-radius 50%
        filter grayscale(100%)
        transition all .5s ease
        &:hover
          border-radius 76% 24% 34% 66% / 32% 38% 62% 68%
          filter grayscale(0)
          transform scale(1.1)
      span
        display block
        font-size .8rem

.backtotop
  position fixed
  right 5rem
  bottom 5rem
  display flex
  visibility hidden
  justify-content center
  align-items center
  width 3rem
  height 3rem
  border-radius 50%
  background-color $colorAccent
  box-shadow 0 0 10px 0 rgba(0, 0, 0, .11)
  transition .25s ease-out all
  transform scale(0)
  i
    font-size 2rem
  &:hover
    background $colorDark[2]
  &:active,
  &:focus
    outline none
  &.show
    visibility visible
    transform scale(1)

[class^='fea-']
  display inline-block
  width 1em
  height 1em
  background-position center
  background-size 1em
  background-repeat no-repeat
  opacity .7

@media screen and (max-width: $flexTreshold)
  .backtotop
    right 2rem
    bottom 2rem

.progress
  &--name
    display inline-block
    width 50%
  &--percent
    display inline-block
    width 50%
    text-align right
  &__bar
    height 1rem
    border-radius 1rem
    background $colorAccent
    &--wrapper
      height 1rem
      border-radius 1rem
      background $colorLight[4]

.icon-post
  margin-right 1rem
  padding 1rem
  border-radius 50%
  background $altDark[1]
  line-height 1
