.nav
  background $colorLight[1]
  .logo
    padding 0.5rem
    border 1px solid $colorDark[2]
    color $colorDark[2]
  .row
    flex-direction row
    height 8rem
  .links
    margin auto 0.8rem
    a
      padding-bottom 0.5em
      color $colorDark[2]
      letter-spacing 1px
      font-size 0.87rem
      &:hover
        border-bottom 2px solid $colorAccent
        color $colorDark[2]
  .mobile-menu-btn
    visibility hidden
    width 0
    a
      display block
      padding 0.1rem
    span
      display block
      margin 0.55rem 0
      width 2rem
      height 4px
      border-radius 5px
      background $colorDark[2]
      content ''
      transition all 0.25s ease-out
    .opened
      span:first-child
        transform translateY(0.4rem) rotate(45deg)
      span:last-child
        transform translateY(-0.4rem) rotate(-45deg)
  &.clears
    border-color transparent
    background transparent
    .logo
      border 1px solid $colorLight[2]
      color $colorLight[2]
    .mobile-menu-btn
      span
        background $colorLight[2]
    .links
      a,
      a:hover
        color $colorLight[2]

.mobile-menu
  position fixed
  top 0
  left 0
  z-index 998
  visibility hidden
  overflow-y scroll
  width 100vw
  height 100%
  background rgba(black, 95%)
  opacity 0
  transition all 0.25s ease-out
  .container
    padding-top 7rem
  .col
    padding 1rem
  a
    font-weight 700
    font-size 2.5rem

@media screen and (max-width: $flexTreshold)
  .nav
    .row
      height 4rem
    .logo
      position relative
      z-index 999
    .col.right:not(.mobile-menu-btn)
      display none
    .mobile-menu-btn
      position relative
      z-index 999
      visibility visible
      width unset
