code,
pre
  background none
  color #ccc
  text-align left
  white-space pre
  word-spacing normal
  word-wrap normal
  word-break normal
  tab-size 1
  hyphens none
  letter-spacing 1px
  font-size 12px
  font-family $font_mono
  line-height 1.5
  cursor text

/* Code blocks */
pre
  overflow auto
  margin .5em 0
  padding 2em 3em

:not(pre) > code,
pre
  background saturation(darken($colorPurple, 65%), 8%)

/* Inline code */
:not(pre) > code
  padding 3px 6px
  background $colorLight[1]
  color inherit
  white-space normal

.token.important,
.token.bold
  font-weight bold

.token.italic
  font-style italic

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata
  color $colorLight[4]

.token.punctuation:last-child
  color $colorLight[2]

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted
  color lighten($colorOrange, 40%)

.token.operator,
.token.boolean,
.token.number
  color lighten($colorYellow, 40%)

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted
  color lighten($colorGreen, 40%)

.token.entity,
.token.url,
.token.variable
  color $colorLight[2]

.token.atrule,
.token.attr-value,
.token.function
  color lighten($colorPink, 40%)

.token.keyword
  color lighten($colorBlue, 40%)

.token.regex,
.token.important,
.token.punctuation
  color lighten($colorPurple, 40%)
