h1,
h2,
h3,
h4,
h5,
h6
  display block
  vertical-align middle
  font-weight normal

h1
  margin .67em 0
  font-size 2em

h2
  margin .83em 0
  font-size 1.5em

h3
  margin 1em 0
  font-size 1.17em

h4
  margin 1.33em 0
  font-size 1em

h5
  margin 1.67em 0
  font-size .83em

h6
  margin 2.33em 0
  font-size .7em

small
  font-size .8em

a
  color $colorAccent
  text-decoration none
  &:focus,
  &:hover
    color $colorDark[2]

.center
  text-align center

.left
  text-align left

.right
  text-align right

.txt
  &--upper
    text-transform uppercase
  &--small
    font-size 90%
  &--big
    font-size 120%
  &--accent,
  &--accent *
    color $colorAccent

for weight in 300 400 700 900
  .txt--{weight}
    font-weight weight

for i in (0 .. 5)
  .txt
    &--light{i},
    &--light{i} *
      color $colorLight[i]
    &--dark{i},
    &--dark{i} *
      color $colorDark[i]
