h1,
h2,
h3,
h4,
h5,
h6
  display block
  vertical-align middle
  font-weight normal

h1
  margin .67em 0
  font-size 2em

h2
  margin .83em 0
  font-size 1.5em

h3
  margin 1em 0
  font-size 1.17em

h4
  margin 1.33em 0
  font-size 1em

h5
  margin 1.67em 0
  font-size .83em

h6
  margin 2.33em 0
  font-size .7em

small
  font-size .8em

a
  color $colorAccent
  text-decoration none
  &:focus,
  &:hover
    color $colorDark[2]

.typo-mono
  font-family $font_mono

.txt-uppercase
  text-transform uppercase

.txt-sm
  font-size 90%

.txt-big
  font-size 120%

.center
  text-align center

.left
  text-align left

.right
  text-align right

.hashed
  &::before
    padding-right .3em
    content '#'
    opacity .5

.txt-300
  font-weight 300

.txt-400
  font-weight 400

.txt-700
  font-weight 700

.txt-900
  font-weight 900

.txt-accent,
.txt-accent *
  color $colorAccent

for i in (0 .. 5)
  .txt-light{i},
  .txt-light{i} *
    color $colorLight[i]
  .txt-dark{i},
  .txt-dark{i} *
    color $colorDark[i]
