---
layout: plain.njk
permalink: /404.html
---
<section class="container">
	<div class="row">
		<div class="col">
      <div class="center">
        <div class="sp"></div>
        <h1 style="font-size:5em;letter-spacing:-0.1em;margin:0">..・ヾ(。＞＜)シ</h1>
        <hr class="sp">
        <h4>Content not found, S..s..sorry</h4>
        <a href="/" class="button button-outline">back to home</a>
        <div class="sp"></div>
      </div>
		</div>
	</div>
</section>
