---
layout: plain.njk
permalink: /404.html
---
<section class="container">
	<div class="row">
		<div class="col center pad-y2">
        <h2>Content not found</h2>
        <a href="/" class="btn">Back to Home</a>
		</div>
	</div>
</section>
