---
permalink: /community/
layout: plain.njk
title: Community
---
<div class="bg-light0">
  <div class="container center friends">
    <div class="row">
      <div class="col">
        <h1 class="txt-300">Community</h1>
        <p>
          List of website and repository that recognized in <br>
          <a href="https://t.me/dotfiles_id">DotfilesID</a> and <a href="https://t.me/JAMstackID">JAMstackID</a><br>
          <small>Disclaimer: both are Indonesian Telegram channel btw</small>
        </p>
        <div class="sp sp-l"></div>
        {% for friend in friendlists.friends | sort(false, false, 'name')%}
        <a rel="noopener" href="{{ friend.url }}" alt="{{ friend.name }}" aria-label="{{ friend.name }}" target="_blank">
          {% fallbackImg '/assets/img/avatars/'+ friend.name +'.png', 'width="128" height="128" class="circle imlazy"'  %}
          <span class="overlay"><b>{{ friend.name }}</b></span>
        </a>
        {% endfor %}
      </div>
    <div class="sp sp-l"></div>
    </div>
  </div>
</div>
