---
permalink: /
---
<!doctype html>
<html lang="en">
{% include "head.njk" %}
<body>
{% set nav_class = "clears absolute" %}
<section class="start bg-dark0">
  <div class="container pad-x0 pad-y0">
  {% include "navs.njk" %}
    <div class="row height-stretch items-mid animated fadeIn">
      <div class="col center">
        <figure class="ovlogo-canvas">
          {% include 'comps/okitavera.min.svg' %}
        </figure>
        <h5 class="animated fadeInUp">
          <b class="txt-uppercase txt-light2">UX | kotlin & android dev | arch</b>
        </h5>
      </div>
    </div>
  </div>
</section>
<section class="welcome bg-accent txt-light0">
  <div class="container">
    <div class="row fx-nowrap items-mid">
      <div class="col center">
        <h1 class="txt-thin pad-y0 txt-uppercase">HELLO THERE!</h1>
        <p class="txt-bigger">
          Welcome to my page :) . You can also jump into the my list of
          <a href="#sideprojects"> #sideprojects </a>
          or <a href="#recentarticles"> #recentarticles </a> below.
        </p>
        <div class="sp"></div>
      </div>
    </div>
  </div>
</section>
<section class="about bg-light0" id="about">
  <div class="container">
    <div class="row fx-nowrap items-mid">
      <div class="col center pad-x1">
        <img class="circle imlazy" alt="Prettiest human in the world" data-src="/assets/img/avatars/me.png"/>
      </div>
      <div class="col pad-x1">
        <h1 class="txt-thin"><b>ABOUT</b>ME</h1>
        <p class="left txt-bigger">
          I am an Indonesian UX Designer and Kotlin-Android Developer.<br>
          Honestly, I do code for fun, just an another hobbies afterworks besides watching videos or plays some melodic decadence metal music.<br>
          Primarily use Kotlin for Android development, but also do a bash and python for scripting.<br>
          Also I am the master of mixing chocolate and coffee.
        </p>
      </div>
    </div>
  </div>
<div class="sp"></div>
</section>
<section class="side-project-title bg-light2" id="sideprojects">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="txt-thin pad-y0">SIDE<b>PROJECTS</b></h1>
      </div>
    </div>
    <div class="row items-stretch">
      {% for project in collections.projects %}
      <div class="col-1of3">
        <div class="card-wrapper"><div class="card bg-dark0 txt-light0">
          <figure class="card-thumbnail">
            <img class="imlazy" data-src="{{ project.data.img }}">
          </figure>
          <div class="card-context">
            <h3 class="txt-thin mgn-y0 txt-uppercase">{{ project.data.name }}</h3>
            <span class="txt-smaller">{{ project.data.desc }}</span>
          </div>
          <div class="card-footer">
            {{ project.templateContent | safe }}
          </div>
      </div></div>
    </div>
    {% endfor %}
    </div>
  </div>
<div class="sp"></div>
</section>
<div class="bg-light">
{% include "recentarticle.njk" %}
</div>
{% include "foot.njk" %}
</body>
</html>
