{% set colorAccent = "#ff6d6d" %}
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png"/>
<link rel="manifest" href="/assets/img/favicon/site.webmanifest"/>
<link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="{{ colorAccent }}"/>
<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico"/>
<meta name="msapplication-TileColor" content="{{ colorAccent }}"/>
<meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml"/>
<meta name="theme-color" content="{{ colorAccent }}"/>
