{% set colorAccent = "#ec407a" %}
<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon/icon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/96.png">
<link rel="apple-touch-icon" type="image/png" sizes="114×114" href="/assets/img/favicon/192.png">
<link rel="apple-touch-icon" type="image/png" sizes="144×144" href="/assets/img/favicon/192.png">
<link rel="icon" type="image/svg+xml" sizes="any" href="/assets/img/favicon/scalable.svg">
<meta name="theme-color" content="{{ colorAccent }}">
