.content {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;
  width: calc(100% - #{$sidebar-width});
  background: var(--color-light);
  &__wrapper {
    flex: 1;
  }
  &__shrink {
    padding: 3rem 4rem;
  }
  .post {
    &__icon {
      margin: 0 1rem 0 0;
      padding: 1rem;
      background: var(--color-dark);
      line-height: 0;
      width: 60px;
      height: 60px;
      text-align: center;
      font-size: 2rem;
      color: white;
      border-radius: 3px;
    }
    &__date {
      padding: 0 1rem 0 0;
      text-align: center;
      &_month {
        background: var(--color-light-fade);
        padding: 2px;
        font-size: 0.9rem;
        border-radius: 3px 3px 0 0;
      }
      &_day {
        min-width: 60px;
        color: white;
        padding: 0.2rem 0.8rem;
        font-size: 1.5rem;
        font-feature-settings: "onum" 1;
      }
    }
    &__title {
      font-size: 1.4rem;
    }
    &__props {
      font-size: 0.95rem;
      opacity: 0.8;
    }
    &__desc {
      font-size: 1.2rem;
    }
  }
}
article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    padding-right: 1.5em;
  }
  .direct-link {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.splash{
  &__container {
  max-height: 50vh;
  overflow: hidden;
  position: relative;
}
  &__desc {
    position: absolute;
    bottom: 0px;
    background: var(--color-light);
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    opacity: 0.8;
  }
}
header.article{
 h1 {
   margin: 0 0 .65rem 0;
 }
}

@media screen and (max-width: $flexbox-breakpoint) {
  .content {
    &__shrink {
      padding: 1rem 2rem;
    }
    &__wrapper {
      padding: unset;
    }
    width: 100%;
    .post {
      &__icon {
        padding: 0.8rem;
        width: 40px;
        height: 40px;
      }
      &__date_day {
        min-width: 30px;
      }
      &__title {
        font-size: 1.2rem;
      }
    }
  }
}
