body {
  button#themeswitch {
    position: absolute;
    top: 1rem;
    left: 1rem;
    margin: 0;
    padding: 0.5rem;
    border: transparent;
    background: var(--color-light);
    font-size: 2rem;
    line-height: 1;
    .fea-moon {
      display: none;
    }
    .fea-sun {
      display: inline-block;
    }
  }
  &:not(.night) {
    button#themeswitch {
      .fea-moon {
        display: inline-block;
      }
      .fea-sun {
        display: none;
      }
    }
  }
  footer button#themeswitch {
    position: relative;
    display: none;
  }
}

@media screen and (max-width: $flexbox-breakpoint) {
  .sidebar button#themeswitch {
    display: none;
  }
  body footer button#themeswitch {
    display: inline-block;
    left: unset;
  }
}

.nightfx {
  transition: background 0.25s ease-in,
              color 0.25s ease-in,
              border 0.25s ease-in;
}
