.friends {
  a {
    position: relative;
    display: inline-block;
    margin: 1rem;
    img {
      display: inline-block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      filter: grayscale(25%);
      transition: all 0.25s ease;
      &:hover {
        filter: grayscale(0);
        transform: scale(1.1);
      }
    }
    span {
      display: block;
      font-size: 0.8rem;
    }
  }
}
